.trackRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 1em;
  box-shadow: 0 0 0.4em 0.1em black;
  padding: 0.3em;
  margin-bottom: 1em;
}
.trackLogo {
  height: 2em;
  width: 2em;
}
.musicChannels {
  position: relative;
  width: 80%;
}
.tracksSlider {
  transition: all 0.2s linear;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.svgSlider {
  color: rgb(197, 197, 197);
  margin-top: -0.5em;
}
